<!---
title: Tailwind CSS Products Page - Flowbite
description: Get started with a free and open-source admin dashboard layout built with Tailwind CSS and Flowbite featuring charts, widgets, CRUD layouts, authentication pages, and more
layout: dashboard
group: crud
--->

<div
    class="p-4 bg-white block sm:flex items-center justify-between border-b border-gray-200 lg:mt-1.5 dark:bg-gray-800 dark:border-gray-700">
    <div class="w-full mb-1">
        <div class="mb-4">
            <nav class="hidden flex mb-5" aria-label="Breadcrumb">
                <ol class="inline-flex items-center space-x-1 text-sm font-medium md:space-x-2">
                    <li class="inline-flex items-center">
                        <a href="#"
                            class="inline-flex items-center text-gray-700 hover:text-primary-600 dark:text-gray-300 dark:hover:text-white">
                            <svg class="w-5 h-5 mr-2.5" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                </path>
                            </svg>
                            Home
                        </a>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <a href="#"
                                class="ml-1 text-gray-700 hover:text-primary-600 md:ml-2 dark:text-gray-300 dark:hover:text-white">E-commerce</a>
                        </div>
                    </li>
                    <li>
                        <div class="flex items-center">
                            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span class="ml-1 text-gray-400 md:ml-2 dark:text-gray-500"
                                aria-current="page">Products</span>
                        </div>
                    </li>
                </ol>
            </nav>
            <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white">Kiểu tóc tại cửa hàng</h1>
        </div>
        <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
            <div class="flex items-center mb-4 sm:mb-0">
                <form class="sm:pr-3" action="#" method="GET">
                    <label for="products-search" class="sr-only">Tìm kiếm</label>
                    <div class="relative w-48 mt-1 sm:w-64 xl:w-96">
                        <input type="text" name="email" id="products-search"
                            class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                            placeholder="Nhập tên kiểu tóc cần tìm">
                    </div>
                </form>
                <div class="hidden flex items-center w-full sm:justify-end">
                    <div class="flex pl-2 space-x-1">
                        <a href="#"
                            class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <a href="#"
                            class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <a href="#"
                            class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                        <a href="#"
                            class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 6a2 2 0 110-4 2 2 0 010 4zM10 12a2 2 0 110-4 2 2 0 010 4zM10 18a2 2 0 110-4 2 2 0 010 4z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <button id="createProductButton"
                class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800"
                type="button" data-drawer-target="drawer-create-product-default"
                data-drawer-show="drawer-create-product-default" aria-controls="drawer-create-product-default"
                data-drawer-placement="right">
                Thêm kiểu tóc mới
            </button>
        </div>
    </div>
</div>
<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow">
                <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                    <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col" class="p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-all" aria-describedby="checkbox-1" type="checkbox"
                                        class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-all" class="sr-only">checkbox</label>
                                </div>
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">

                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Tên kiểu tóc
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Giới tính
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Mô tả
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Kiểu khuôn mặt
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Giá tiền
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">

                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        <% for (let i=0; i < products.length; i++) { %>
                            <% const product=products[i]; %>

                                <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                    <td class="w-4 p-4">
                                        <div class="flex items-center">
                                            <input id="checkbox-<%= product.id %>" aria-describedby="checkbox-1"
                                                type="checkbox"
                                                class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
                                            <label for="checkbox-<%= product.id %>" class="sr-only">checkbox</label>
                                        </div>
                                    </td>
                                    <td
                                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <img class="w-10 h-10 rounded-full"
                                            src="<%= product.hinh_anh_kieu_toc[0].url_anh %>"
                                            alt="<%= product.ten_kieu_toc %> avatar">
                                    </td>
                                    <td
                                        class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                                        <div class="text-base font-semibold text-gray-900 dark:text-white">
                                            <%= product.ten_kieu_toc %>
                                        </div>
                                        <div class="text-sm font-normal text-gray-500 dark:text-gray-400">
                                            <%= product.category %>
                                        </div>
                                    </td>
                                    <td
                                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <%= product.gioi_tinh %>
                                    </td>
                                    <td
                                        class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
                                        <%= product.mo_ta %>
                                    </td>
                                    <td
                                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <%= product.kieu_toc_phu_hop[0].kieu_khuon_mat_phu_hop.kieu_khuon_mat%>
                                            <% if (product.kieu_toc_phu_hop.length> 1) { %>
                                                <span class="text-gray-500 dark:text-gray-400">...</span>
                                                <% } %>

                                    </td>
                                    <td
                                        class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <%= product.gia_tien %>đ
                                    </td>

                                    <td class="p-4 space-x-2 whitespace-nowrap">
                                        <button type="button" id="updateProductButton"
                                            onclick="populateUpdateForm(<%= JSON.stringify(product) %>)"
                                            data-drawer-target="drawer-update-product-default"
                                            data-drawer-show="drawer-update-product-default"
                                            aria-controls="drawer-update-product-default" data-drawer-placement="right"
                                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                                            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z">
                                                </path>
                                                <path fill-rule="evenodd"
                                                    d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            Sửa
                                        </button>
                                        <button type="button" id="deleteProductButton" data-id="<%= product.id %>"
                                            onclick="setProductIdToDelete('<%= product.id %>')"
                                            data-drawer-target="drawer-delete-product-default"
                                            data-drawer-show="drawer-delete-product-default"
                                            aria-controls="drawer-delete-product-default" data-drawer-placement="right"
                                            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">
                                            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            Xóa
                                        </button>
                                    </td>
                                </tr>

                                <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div
    class="sticky bottom-0 right-0 items-center w-full p-4 bg-white border-t border-gray-200 sm:flex sm:justify-between dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center mb-4 sm:mb-0">
        <a href="#"
            class="inline-flex justify-center p-1 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
            <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
        <a href="#"
            class="inline-flex justify-center p-1 mr-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-white">
            <svg class="w-7 h-7" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
        <span class="invisible text-sm font-normal text-gray-500 dark:text-gray-400">Showing <span
                class="font-semibold text-gray-900 dark:text-white">1-20</span> of <span
                class="font-semibold text-gray-900 dark:text-white">2290</span></span>
    </div>
    <div class="invisible flex items-center space-x-3">
        <a href="#"
            class="inline-flex items-center justify-center flex-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-5 h-5 mr-1 -ml-1" fill=" currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
            Trước
        </a>
        <a href="#"
            class="inline-flex items-center justify-center flex-1 px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Sau
            <svg class="w-5 h-5 ml-1 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>

<!-- Edit Product Drawer -->
<div id="drawer-update-product-default"
    class="fixed top-0 right-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
    <h5 id="drawer-label"
        class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400"> Cập nhật
    </h5>
    <button type="button" data-drawer-dismiss="drawer-update-product-default"
        aria-controls="drawer-update-product-default"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    <form id="updateHairStyle" method="PUT">

        <div class="space-y-4">
            <div>
                <label for="name" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Tên kiểu
                    tóc</label>
                <input type="text" name="ten_kieu_toc" id="ten_kieu_toc_update"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required>
            </div>
            <div class="mb-6">
                <label class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">
                    Hình ảnh kiểu tóc
                </label>
                <div class="mb-3 flex items-center justify-center w-full">
                    <label for="hinh_anh_kieu_toc_update"
                        class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                        <div class="flex flex-col items-center justify-center p-3">
                            <span class="font-semibold">Thêm ảnh mới</span>
                        </div>
                        <input id="hinh_anh_kieu_toc_update" name="hinh_anh_kieu_toc" type="file" class="hidden"
                            multiple />
                    </label>
                </div>
            </div>


            <div id="image_list_update" class="grid grid-cols-2 gap-2">
                <!-- Hình ảnh -->

            </div>

            <div class="mt-5 col-span-6 sm:col-span-3">
                <label for="gender" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Giới
                    tính</label>
                <select name="gioi_tinh" id="gioi_tinh_update"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required>
                    <option value="" disabled selected>Chọn giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>
            <div class="mt-5">
                <label for="price" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Giá
                    tiền</label>
                <input type="number" name="gia_tien" id="gia_tien_update"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required="">
            </div>
            
            <div class="mt-5">
                <label for="price" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Thời lượng hoàn thành:(phút)</label>
                <input type="number" name="thoi_luong" id="thoi_luong_update"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required="">
            </div>
            <div class="mt-5 mb-15">
                <label for="category-create" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Kiểu
                    khuôn mặt phù hợp</label>
                <!-- Check box Face Shapes -->
                <div class="grid grid-cols-2 gap-4">
                    <% for(let i=0; i<faceShapes.length; i++) { %>
                        <% const faceShape=faceShapes[i]; %>
                            <div class="flex items-center space-x-4">
                                <input type="checkbox" id="<%= faceShape.id %>" value="<%= faceShape.id %>"
                                    name="kieu_toc_phu_hop"
                                    class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600">
                                <label for="face-shape-<%= faceShape.id %>"
                                    class="text-sm text-gray-900 dark:text-white">
                                    <%= faceShape.kieu_khuon_mat %>
                                </label>
                                <img src="<%= faceShape.hinh_anh %>" alt="<%= faceShape.kieu_khuon_mat %>"
                                    class="w-10 h-14 rounded-full">
                            </div>
                            <% } %>
                </div>
            </div>
            <div class="mt-5">
                <label for="mo_ta" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Mô
                    tả</label>
                <textarea id="mo_ta_update" rows="4" name="mo_ta"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"></textarea>
            </div>

            <div class="pt-5 bottom-0 left-0 flex justify-center w-full pb-4 mt-4 space-x-4  sm:px-4 sm:mt-0">
                <button type="submit"
                    class="w-full justify-center text-white bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Update
                </button>
                <button type="button"
                    class="w-full justify-center text-red-600 inline-flex items-center hover:text-white border border-red-600 hover:bg-red-600 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:hover:bg-red-600 dark:focus:ring-red-900">
                    <svg aria-hidden="true" class="w-5 h-5 mr-1 -ml-1" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
                            clip-rule="evenodd"></path>
                    </svg>
                    Delete
                </button>
            </div>
        </div>
    </form>
</div>


<!-- Add Product Drawer -->
<!-- Add Product Drawer -->
<div id="drawer-create-product-default"
    class="fixed top-0 right-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
    <h5 id="drawer-label"
        class="inline-flex items-center mb-6 text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Kiểu tóc
        mới</h5>
    <button type="button" data-drawer-dismiss="drawer-create-product-default"
        aria-controls="drawer-create-product-default"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Đóng</span>
    </button>
    <form id="addNewHairStyle">
        <div class="space-y-4">
            <div>
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tên kiểu
                    tóc</label>
                <input type="text" name="ten_kieu_toc" id="name"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required="">
            </div>
            <div>
                <div
                    class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
                    <label class="mb-1 text-sm font-bold text-gray-900 dark:text-white">Hình ảnh kiểu tóc</label>
                    <div class="items-center sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4 ">
                        <div class="max-w-lg mx-auto">
                            <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                for="user_avatar"></label>
                            <input name="hinh_anh_kieu_toc"
                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                aria-describedby="user_avatar_help" id="hinh_anh_kieu_toc" type="file" accept="image/*"
                                required multiple>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <label for="gender" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giới
                    tính</label>
                <select name="gioi_tinh" id="gender"
                    class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required>
                    <option value="" disabled selected>Chọn giới tính</option>
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
            </div>

            <div>
                <label for="gia_tien" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Giá</label>
                <input type="number" name="gia_tien" id="gia_tien"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required="">
            </div>
            <div class="mt-5">
                <label for="price" class="block mb-2 text-sm font-bold text-gray-900 dark:text-white">Thời lượng hoàn thành:(phút)</label>
                <input type="number" name="thoi_luong" id="thoi_luong"
                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                    required="">
            </div>
            <div class="mb-15">
                <label for="category-create" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Kiểu
                    khuôn mặt phù hợp</label>
                <!-- Check box Face Shapes -->
                <div class="grid grid-cols-2 gap-4">
                    <% for(let i=0; i<faceShapes.length; i++) { %>
                        <% const faceShape=faceShapes[i]; %>
                            <div class="flex items-center space-x-4">
                                <input type="checkbox" id="<%= faceShape.id %>" value="<%= faceShape.id %>"
                                    name="kieu_toc_phu_hop"
                                    class="text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600">
                                <label for="face-shape-<%= faceShape.id %>"
                                    class="text-sm text-gray-900 dark:text-white">
                                    <%= faceShape.kieu_khuon_mat %>
                                </label>
                                <img src="<%= faceShape.hinh_anh %>" alt="<%= faceShape.kieu_khuon_mat %>"
                                    class="w-10 h-14 rounded-full">
                            </div>
                            <% } %>
                </div>
            </div>
            <div>
                <label for="mo_ta" class="mt-5 mb-2 text-sm font-medium text-gray-900 dark:text-white">Mô
                    tả</label>
                <textarea id="mo_ta" rows=" 4" name="mo_ta"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"></textarea>
            </div>
            <div class="p-4 flex justify-center space-x-4 ">

                <button type="submit"
                    class="text-white w-full justify-center bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Thêm mới
                </button>
                <button type="button" data-drawer-dismiss="drawer-create-product-default"
                    aria-controls="drawer-create-product-default"
                    class="inline-flex w-full justify-center text-gray-500 items-center bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">
                    <svg aria-hidden="true" class="w-5 h-5 -ml-1 sm:mr-1" fill="none" stroke="currentColor"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12">
                        </path>
                    </svg>
                    Hủy bỏ
                </button>
            </div>
        </div>
    </form>
</div>

<!-- Delete Product Drawer -->
<div id="drawer-delete-product-default"
    class="fixed top-0 right-0 z-40 w-full h-screen max-w-xs p-4 overflow-y-auto transition-transform translate-x-full bg-white dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
    <h5 id="drawer-label"
        class="inline-flex items-center text-sm font-semibold text-gray-500 uppercase dark:text-gray-400">Xóa Kiểu tóc
    </h5>
    <button type="button" data-drawer-dismiss="drawer-delete-product-default"
        aria-controls="drawer-delete-product-default"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    <svg class="w-10 h-10 mt-8 mb-4 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
    </svg>
    <h3 class="mb-6 text-lg text-gray-500 dark:text-gray-400">Xác nhận xóa kiểu tóc này?</h3>
    <a id="confirmDeleteButton" onclick="deleteProduct()"
        class="comfirm-delete text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm inline-flex items-center px-3 py-2.5 text-center mr-2 dark:focus:ring-red-900">
        Xác nhận xóa
    </a>
    <a class="text-gray-900 bg-white hover:bg-gray-100 focus:ring-4 focus:ring-primary-300 border border-gray-200 font-medium inline-flex items-center rounded-lg text-sm px-3 py-2.5 text-center dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        data-drawer-hide="drawer-delete-product-default">
        Hủy
    </a>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    let productIdToDelete = null;

    let imageUpdate = [];

    let idHairStyleUpdate = null;

    let imgAdded = [];

    function setProductIdToDelete(productId) {
        productIdToDelete = productId;
    }
    function renderImageList(images) {
        const imageList = document.getElementById('image_list_update');
        imageList.innerHTML = ''; // Xóa nội dung cũ

        images.forEach(image => {
            // Tạo một div chứa hình ảnh và nút xóa
            const imageContainer = document.createElement('div');
            imageContainer.className = 'relative group';

            // Tạo thẻ img
            const imgElement = document.createElement('img');
            imgElement.src = image.url_anh;
            imgElement.alt = `Hình ảnh ${image.id}`;
            imgElement.className = 'w-full h-32 object-cover  rounded-lg shadow';

            // Tạo nút xóa
            const deleteButton = document.createElement('button');
            // deleteButton.className =
            //     'absolute top-12 right-12 bg-white-800 text-white rounded-full ';
            deleteButton.className =
                'absolute top-0 right-0 p-1 w-5 h-5 text-white bg-red-500 rounded-full flex items-center justify-center hover:bg-red-600 focus:ring-4 focus:ring-red-300 opacity-50 hover:opacity-100';
            deleteButton.innerHTML = `
  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
  </svg>`;
            // deleteButton.innerHTML = '&times;';
            deleteButton.onclick = () => deleteImage(image.id);

            // Gắn hình ảnh và nút xóa vào div
            imageContainer.appendChild(deleteButton);
            imageContainer.appendChild(imgElement);

            // Thêm div vào danh sách
            imageList.appendChild(imageContainer);
        });
    }

    function deleteImage(imageId) {
        // Lọc bỏ hình ảnh khỏi danh sách
        imageUpdate = imageUpdate.filter(image => image.id !== imageId);

        imgAdded = imgAdded.filter(image => image.id !== imageId);


        // Cập nhật giao diện
        renderImageList(imageUpdate.concat(imgAdded));
    }

    function populateUpdateForm(product) {
        // Gán dữ liệu vào các trường input
        document.getElementById('ten_kieu_toc_update').value = product.ten_kieu_toc;
        document.getElementById('gia_tien_update').value = product.gia_tien;
        document.getElementById('mo_ta_update').value = product.mo_ta;
        document.getElementById('thoi_luong_update').value = product.thoi_luong;
        document.getElementById('gioi_tinh_update').value = product.gioi_tinh;

        const faceShapeCheckboxes = document.querySelectorAll('input[name="kieu_toc_phu_hop"]');
        faceShapeCheckboxes.forEach(checkbox => {
            checkbox.checked = product.kieu_toc_phu_hop.some(faceShape => faceShape.id_kieu_khuon_mat === parseInt(checkbox.value));
        });

        idHairStyleUpdate = product.id;
        // Hiển thị hình ảnh\
        imageUpdate = product.hinh_anh_kieu_toc;


        renderImageList(imageUpdate);

        // Hiển thị drawer
        const drawerElement = document.getElementById('drawer-update-product-default');
        drawerElement.classList.remove('translate-x-full'); // Loại bỏ class để hiển thị drawer
    }

    document.getElementById('hinh_anh_kieu_toc_update').onchange = function (event) {
        const files = event.target.files;
        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const reader = new FileReader();
            reader.onload = function (e) {
                imgAdded.push({
                    id: Date.now(),
                    url_anh: e.target.result,
                    file: file,
                });
                renderImageList(imageUpdate.concat(imgAdded));
            };
            reader.readAsDataURL(file);
        }
        document.getElementById('hinh_anh_kieu_toc_update').value = '';
    };

    // Xử lý cập nhật kiểu tóc
    document.getElementById('updateHairStyle').addEventListener('submit', async function (event) {
        event.preventDefault();
        // Lấy dữ liệu từ form
        const formData = new FormData(this);
        const data = {};
        formData.forEach((value, key) => {
            data[key] = value;
        });
        
        data.kieu_toc_phu_hop = Array.from(formData.getAll('kieu_toc_phu_hop')).map(id => ({ id_kieu_khuon_mat: parseInt(id) }));

        if (data.ten_kieu_toc.length === 0) {
            alert('Vui lòng nhập tên kiểu tóc');
            return;
        }
        if (data.hinh_anh_kieu_toc.length === 0 && imgAdded.length === 0) {
            alert('Vui lòng chọn hình ảnh kiểu tóc');
            return;
        }
        if (data.kieu_toc_phu_hop.length === 0) {
            alert('Vui lòng chọn khuôn mặt phù hợp');
            return;
        }

        const imgFiles = new FormData();
        imgAdded.forEach(image => {
            imgFiles.append('images', image.file);
        });

        const imgUploadRes = await fetch('/api/upload/Images', {
            method: 'POST',
            body: imgFiles,
        });
        const imgUploadResData = await imgUploadRes.json();
        const uploadedImageUrls = imgUploadResData.imageUrls;

        data.listImgUpdate = imageUpdate
        data.listNewImgUrl = uploadedImageUrls;

        console.log(data);
        const response = await fetch(`/api/hairStyles/updateHairStyle/${idHairStyleUpdate}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data),
        });

        const result = await response.json();
        if (response.ok) {
            alert('Cập nhật kiểu tóc thành công');
            window.location.reload();
        } else {
            alert('Cập nhật kiểu tóc thất bại');
        }
    });

    document.getElementById('addNewHairStyle').addEventListener('submit', async function (event) {
        event.preventDefault();
        // Lấy dữ liệu từ form
        const data = new FormData(this);
        if (data.get('hinh_anh_kieu_toc').length === 0) {
            alert('Vui lòng chọn hình ảnh kiểu tóc');
            return;
        }
        if (data.get('kieu_toc_phu_hop').length === 0) {
            alert('Vui lòng chọn khuôn mặt phù hợp');
            return;
        }
        const response = await fetch('/api/hairStyles/addHairStyle', {
            method: 'POST',
            body: data,
        });
        const result = await response.json();
        if (response.ok) {
            alert('Thêm kiểu tóc mới thành công');
            window.location.reload();
        } else {
            alert('Thêm kiểu tóc mới thất bại');
        }
    });


    // Xử lý xóa kiểu tóc
    async function deleteProduct() {
        if (!productIdToDelete) {
            alert('Không tìm thấy id kiểu tóc cần xóa');
            return;
        }
        const response = await fetch(`/api/hairStyles/deleteHairStyle/${productIdToDelete}`, {
            method: 'DELETE',
        });
        const result = await response.json();
        if (response.ok) {
            alert('Xóa kiểu tóc thành công');
            window.location.reload();
        } else {
            alert('Xóa kiểu tóc thất bại');
        }
        // console.log(productIdToDelete)
    }

</script>